/* stylelint-disable value-list-comma-space-after */
.bttn-container-explore {
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset ,
    rgba(50, 50, 93, 0.25) 0 50px 100px -20px , rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 8%;
  transition: all 0.5s ease-in-out;
  width: 50%;
}

.bttn-container-explore:hover {
  transform: scale(1.1);
}

.bttn-container-explore-drinks {
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.1) 0 1px 1px 0 inset ,
    rgba(50, 50, 93, 0.25) 0 50px 100px -20px , rgba(0, 0, 0, 0.3) 0 30px 60px -30px;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 12%;
  transition: all 0.5s ease-in-out;
  width: 60%;
}

.bttn-container-explore-drinks:hover {
  transform: scale(1.1);
}

.link {
  color: var(--secondary-olor);
  text-decoration: none;
}


.bttn-explore {
  background-color: var(--accenty-color);
  border: 1px solid #d4d3e8;
  border-radius: 26px;
  box-shadow: 0 2px 2px var(--bege);
  cursor: pointer;
  display: flex;
  font-size: 18px;
  font-style: none;
  font-weight: 700;
  margin-bottom: 8%;
  padding: 30px 80px;
  text-align: center;
  transition: 0.2s;
}


.bttn-explore:hover {
  border-color: var(--bege);
  outline: none;
}
